body{
    background-color: rgb(255, 247, 188);
    text-transform: uppercase;
    color: rgba(116, 15, 15, 0.895);
    text-align: center;
  
}
h1{
font-family: 'Courier New', Courier, monospace;
}

.img1{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.txtdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}