body{
    background-color: rgb(255, 247, 188);
  
}
h1{
    color: blue;
}

.img1{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.txtdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}